body {
    background-color: #D152DC;
    font-family: 'Ubuntu', sans-serif;
    padding-left: clamp(0px, 19.53vw, 375px);
}
.header {
    display: flex;
    align-items: flex-start;
    padding: 29px 36% 0 0;
    gap: clamp(35px, 6.2vw, 119px);
}
.logo {
    flex-shrink: 0;
}
.burger, .burger-exit{
    display: none;
}
.nav {
    flex-shrink: 0;
    margin-top: 23px;
}
.nav-list {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 400;
}
.hero {
    display: flex;
}
.hero-content {
    margin-right: 29.04%;
    position: relative;
}
.hero-title {
    padding:53.92px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    max-width: 600px;
}
.hero-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.344;
    max-width: 970px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    padding: 13px 25px 17px 25px;
    max-width: 321px;
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #D152DC;
    border-radius: 18px;
    font-size: 32px;
    line-height: normal;
    border: 1px solid #fff;
    box-shadow: 4px 9px 35px rgba(226, 225, 226, 0.58);
}
.logo-background {
    position: absolute;
    right: 0;
    top: 26px;
    z-index: -1;
}
.hero-media {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 38.698%;
    height: 97.59%;
    z-index: 0;
}
.hero-img {
    width: 100%;
    height: 100%;
}
.hero-img,
.logo-background {
  pointer-events: none; 
  user-select: none;       
  -webkit-user-drag: none; 
}
@media (max-width: 768px) {
    body {
        padding: 20px 20px 0 20px;
    }
    .header {
        gap: 0;
        justify-content: space-between;
        padding: 0 0 0 0;
    }
    .logo {
        width: 40px;
        height: 71.29px;
        z-index: 3;
    }
    .burger {
        display: flex;
        width: 45px;
        height: 35.69px;
        background: none;
        border: none;
        flex-shrink: 0;
        cursor: pointer;
        z-index: 10;
    }
    .nav {
    position: fixed;
    left: -1px;
    right: -1px;
    top: -100%;
    background-color: #ba3fc5;
    padding: 29px 0 17px 0;
    margin: 0;
    border: 1px solid #000;
    border-radius:  0 0 10px 10px;
    transition: top 0.3s ease;
    }
    .nav-list {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .nav-link {
        font-size: 32px;
    }
    .nav.is-open {
        top:-1px;
        z-index: 2;
    }
    .logo-background {
        width: 180.12px;
        height: auto;
    }
    .hero-content {
    margin-right: 0;
    }
    .hero-title {
        font-size: 32px;
        max-width: 305px;
        padding: 40px 0;
    }
    .hero-text {
        font-size: 18px;
        max-width: 450px;
    }
    .btn {
        align-items: center;
        max-width: 450px;
        font-size: 20px;
        padding: 7px 0 7px 0;
        width: 100%;
    }
    .hero-media {
        bottom: -20%;
        height: 46.20%;
        height: 55.94%;
    }
}